{% load static %}
<!doctype html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Author" name="author">
    <!-- Meta tag for social site sharing -->
    <meta
            content="Learning a second language involves not just learning new words for the same concepts, but also a new way of thinking. Online English blog to suit your requirements and learning objectives. Learn to speak with confidence in your academics, at work, and in your study"
            name="description">
    <meta content="{{ name }}, grammar pathshala, grammar, pathshala, english, learn" name="keywords">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="{{ name }} | Grammar Pathshala">
    <meta itemprop="description" content="Build a Deep, Solid Understanding in English with Grammar Pathshala">
    <meta itemprop="image" content="{% static 'assets/images/logo.svg' %}">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://grammarpathshala.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ name }} | Grammar Pathshala">
    <meta property="og:description" content="Build a Deep, Solid Understanding in English with Grammar Pathshala">
    <meta property="og:image" content="{% static 'assets/images/logo.svg' %}">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ name }} | Grammar Pathshala">
    <meta name="twitter:description" content="Build a Deep, Solid Understanding in English with Grammar Pathshala">
    <meta name="twitter:image" content="{% static 'assets/images/logo.svg' %}">
    <!-- Meta tag for social site sharing -->
    <link rel="icon" href="{% static 'assets/img/favicon.png' %}" type="image/gif" sizes="16x16">
    <link rel="apple-touch-icon" href="{% static 'assets/img/favicon.png' %}">

    <title>{{ name }} | Grammar Pathshala</title>

    <!-- dynamic -->
    <link href="{% static '/assets/css/output.css' %}" rel="stylesheet">
    <!-- dynamic -->
    <!-- <link href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Manrope:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body class="overflow-y-hidden overflow-visible bg-slate-100">

    <!-- Top Navbar Start -->
    {% block desktop_nav %}
        {% include 'base/desktop_nav.html' %}
    {% endblock %}

        <!-- Right Side Wrapper Start -->
        <div class="flex-1 overflow-x-hidden overflow-y-auto bg-white">
            <div class="drawer">
                <input id="my-drawer" type="checkbox" class="drawer-toggle" />
                <div class="drawer-content pt-10">

                    <main>
                        <div class="flex-1 overflow-x-hidden overflow-y-auto bg-white">

                            <div class="container mx-auto max-w-4xl px-4 mb-16 flex justify-center items-center">
                                <div class="hidden md:block">
                                    <div
                                        class="bg-green-100 flex justify-center items-center h-14 w-14 rounded-md mr-4">
                                        <i class="text-green-500 text-2xl fa-solid fa-hashtag"></i>
                                    </div>
                                </div>
                                <div>
                                    <h2 class="text-3xl font-semibold text-gray-900">Parts of Speech: Noun, Pronoun
                                    </h2>
                                    <p class="text-base font-medium text-gray-500"><i
                                            class="fa-solid fa-newspaper mr-2"></i>27.3K Articles
                                    </p>
                                </div>
                            </div>

                            <!-- Exercise Section Start -->
                            <section class="max-w-4xl select-none">
                                <form action="">

                                    <div class="shadow-sm transition rounded-md px-5 py-5 mb-8 bg-gray-50 border">

                                        <h3 class="text-xl font-semibold text-gray-700 px-3 hover:text-gray-900">
                                            <span>1.</span> Application
                                            to practice the knowledge in React, and TailWind CSS, and in the
                                            future start the studies in Node?
                                        </h3>

                                        <div class="form-control mt-5">

                                            <label class="flex items-center cursor-pointer mb-3 rounded-md px-3 py-3">
                                                <input type="radio" name="ans" class="mr-3 radio radio-primary" />
                                                <span class="text-gray-500 text-base"> knowledge in React, and TailWind
                                                    CSS,
                                                    and in the
                                                    future start the studies in Node</span>
                                            </label>

                                            <label class="flex items-center cursor-pointer mb-3 rounded-md px-3 py-3">
                                                <input type="radio" name="ans" class="mr-3 radio radio-primary" />
                                                <span class="text-gray-500 text-base"> knowledge in React, and TailWind
                                                    CSS,
                                                    and in the
                                                    future start the studies in Node</span>
                                            </label>

                                            <label class="flex items-center cursor-pointer mb-3 rounded-md px-3 py-3">
                                                <input type="radio" name="ans" class="mr-3 radio radio-primary" />
                                                <span class="text-gray-500 text-base"> knowledge in React, and TailWind
                                                    CSS,
                                                    and in the
                                                    future start the studies in Node</span>
                                            </label>

                                            <label class="flex items-center cursor-pointer mb-3 rounded-md px-3 py-3">
                                                <input type="radio" name="ans" class="mr-3 radio radio-primary" />
                                                <span class="text-gray-500 text-base"> knowledge in React, and TailWind
                                                    CSS,
                                                    and in the
                                                    future start the studies in Node</span>
                                            </label>

                                        </div>
                                    </div>

                                    <div class="shadow-sm transition rounded-md px-5 py-5 mb-8 bg-gray-50 border">

                                        <h3 class="text-xl font-semibold text-gray-700 px-3 hover:text-gray-900">
                                            <span>2.</span> Application
                                            to practice the knowledge in React, and TailWind CSS, and in the
                                            future start the studies in Node?
                                        </h3>

                                        <div class="form-control mt-5">
                                            <!-- use class 'right-ans'/'wrong-ans' to highlight-->
                                            <label
                                                class="flex items-center cursor-pointer mb-3 rounded-md px-3 py-3 wrong-ans">
                                                <input type="radio" name="a" class="mr-3 radio radio-primary" checked
                                                    disabled />
                                                <span class="text-gray-500 text-base"> knowledge in React, and TailWind
                                                    CSS,
                                                    and in the
                                                    future start the studies in Node</span>
                                            </label>

                                            <label
                                                class="flex items-center cursor-pointer mb-3 rounded-md px-3 py-3 right-ans">
                                                <input type="radio" name="b" class="mr-3 radio radio-primary" checked />
                                                <span class="text-gray-500 text-base"> knowledge in React, and TailWind
                                                    CSS,
                                                    and in the
                                                    future start the studies in Node</span>
                                            </label>

                                            <label class="flex items-center cursor-pointer mb-3 rounded-md px-3 py-3">
                                                <input type="radio" name="c" class="mr-3 radio radio-primary"
                                                    disabled />
                                                <span class="text-gray-500 text-base"> knowledge in React, and TailWind
                                                    CSS,
                                                    and in the
                                                    future start the studies in Node</span>
                                            </label>

                                            <label class="flex items-center cursor-pointer mb-3 rounded-md px-3 py-3">
                                                <input type="radio" name="d" class="mr-3 radio radio-primary"
                                                    disabled />
                                                <span class="text-gray-500 text-base"> knowledge in React, and TailWind
                                                    CSS,
                                                    and in the
                                                    future start the studies in Node</span>
                                            </label>

                                        </div>
                                    </div>

                                    <div class="flex justify-end mb-8">
                                        <input type="submit" value="Submit"
                                            class="w-full md:w-auto px-10 btn bg-blue-700 hover:bg-blue-500 border-gray-200 hover:border-gray-200 cursor-pointer"></input>
                                    </div>
                                </form>

                                <!-- modal -->
                                <label id="resultBtn" for="my-modal-6"></label>

                                <input type="checkbox" id="my-modal-6" class="modal-toggle" />
                                <div class="modal modal-bottom sm:modal-middle">
                                    <div class="modal-box text-center bg-[#F1F5F9]">

                                        <div class="text-3xl radial-progress bg-primary text-primary-content border-4 border-primary"
                                            style="--value:70; --size:12rem">70%</div>
                                        <h3 class="font-bold text-2xl my-3">Congratulations!</h3>
                                        <h3 class="text-base my-3">You did a great job in the test</h3>

                                        <div class="modal-action flex justify-center">
                                            <label for="my-modal-6" class="btn">Continue</label>
                                        </div>

                                    </div>

                                </div>
                                <!-- modal -->
                            </section>
                            <!-- Exercise Section End -->

                            <!-- Footer Section Start -->
                            {% block footer %}
                                {% include 'base/footer.html' %}
                            {% endblock %}
                            <!-- Footer Section End -->
                        </div>
                    </main>
                </div>

                <!-- Mobile Sidebar Wrapper Start -->
                {% block mobile_nav %}
                        {% include 'base/mobile_nav.html' %}
                    {% endblock %}
                <!-- Mobile Sidebar Wrapper Start -->
            </div>

            <!-- Main Footer Start -->

            <!-- Main Footer End -->
        </div>
        <!-- Right Side Wrapper End -->

    </div>
    <script>
        const btnClick = () => document.getElementById("resultBtn").click();
        btnClick();
    </script>
</body>


</html>